<!DOCTYPE HTML>
<html id="website">
    <head>
        <title>{{ config.title }}</title>
        <!-- Loading -->
        <!-- <link type="text/css" rel="stylesheet" href="library/css/z-loading.css"> -->
        
        <meta name="description" content="{{ config.info }}">
        <meta name="keywords" content="{{ config.key }}">
        <meta name="author" content="{{ config.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--<meta name="robots" content="noindex, nofollow" />-->
    
        <!-- Icon -->
        <link rel="apple-touch-icon" sizes="32x32" href="library/img/favicon/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="library/img/favicon/favicon.ico">
        <meta name="msapplication-TileImage" content="library/img/favicon/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="library/img/favicon/favicon.ico">
    </head>
    <body >
        <section class="container-fluid text-center pos-rel ovr-h">
            <div class='row pdg-t-60'>
                <div class="container">
                    <div class="row pos-rel">
                        <div class='col-sm-10 col-lg-6 col-xs-12 dsp-in-block flt-off'>
                            <h1 class="f-trad f-size-72 c-first">{{ config.title }}</h1>
                            <form class='col-xs-12 form-info' @submit.prevent="add_order()">
                                <div class='row pdg-t-30'>
                                    <table class="table">
                                        <thead>
                                            <tr >
                                                <th colspan="100%">
                                                    <h2 class="f-trad h1 c-second text-center" v-html="page.msg_1"></h2>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle text-left"><h4>Tamanho</h4></td>
                                                <td width='70%' class="text-right align-middle">
                                                    <div class="wd-100">
                                                        <label class="dsp-middle" v-for="(key,item) in size" >
                                                            <div class="wd-25">
                                                                <input class="square-25" type="radio" id="one" value="{{ key }}" v-model="pizza.size">
                                                            </div>
                                                            <div class="wd-25">{{ item.title }}</div>
                                                            <div class="wd-25" v-if="item.value > 0">R$ {{ item.value }}</div>
                                                            <div class="wd-25" v-if="item.value > 0">{{ item.time }}min</div>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr v-if="pizza.size.length">
                                                <td class="align-middle text-left"><h4>Sabor</h4></td>
                                                <td width='70%' class="text-right align-middle">
                                                    <div class="wd-100">
                                                        <label class="dsp-middle" v-for="(key,item) in taste" >
                                                            <div class="wd-25">
                                                                <input class="square-25" type="radio" id="one" value="{{ key }}" v-model="pizza.taste">
                                                            </div>
                                                            <div class="wd-25">{{ item.title }}</div>
                                                            <div class="wd-25" v-if="item.value > 0">R$ {{ item.value }}</div>
                                                            <div class="wd-25" v-if="item.value > 0">{{ item.time }}min</div>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody v-if="pizza.taste.length">
                                            <tr><th colspan="100%"><h2 class="f-trad h1 c-second text-center" v-html="page.msg_2"></h2></th></tr>
                                            <tr v-for="(index,item) in increments">
                                                <td class="align-middle text-left"><h4 class="dsp-middle">
                                                    <div v-if="item.status !== ''">
                                                        <span v-if="item.status">Com&nbsp;</span>
                                                        <span v-else>Sem&nbsp;</span>
                                                    </div>
                                                    {{ item.title }}
                                                </h4></td>
                                                <td class="text-right align-middle" v-if="item.status !== ''">
                                                    <div class="dsp-in-block">
                                                        <label class="dsp-middle" >
                                                            <input class="square-25" type="checkbox" id="checkbox" v-model="item.status">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-right" v-else>
                                                    <div class="dsp-in-block">
                                                        <div class="dsp-middle">
                                                            <input class="form-control ipt-add text-center ib-check mgn-r-15 ib-number" disabled name="atributo_{{item.id}}" type="text" value='{{ item.qtd }}' >
                                                            <button type="button" class="btn btn-success pos-rel square-40" v-on:click="count_add(item)">
                                                                <span class="glyphicon glyphicon-plus b-fly-c b-self"></span>
                                                            </button>
                                                            <button type="button" class="btn btn-danger pos-rel square-40" v-on:click="count_less(item)">
                                                                <span class="glyphicon glyphicon-minus b-fly-c b-self"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="divider bg-opc-06 col-xs-12"></div>
                                </div>
                                <div class="row pdg-t-20 pdg-b-40">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12 c-0 f-trad f-size-42">
                                            value: {{ pizza_v }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12 c-0 f-trad f-size-42">
                                            Tempo de Preparo: {{ pizza_t }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 pdg-t-20">
                                            <button class="btn-success rad-3 pdg-10 col-xs-12 f-size-24" type="submit">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-xs-12" v-if="list_request.length">
                                <div class='row pdg-t-30 pdg-b-60 text-left'>
                                    <div class="col-xs-12">
                                        <h2 class="f-trad c-second text-center h1" v-html="page.i_prod"></h2>
                                    </div>
                                    <div class="col-xs-12 mgn-t-10 sdw-i-1 rad-5 ovr-h" v-for="(l, i_list) in list_request">
                                        <h3 class="text-center f-bold c-first">Pedido: {{l}}</h3>
                                        <div class="col-xs-12 pdg-0 mgn-t-5" v-for="(p, i_pizza) in i_list">
                                            <div class="col-xs-12 bg-success pdg-15 rad-3 c-0 f-bold text-center"  v-if="i_pizza.title.length">
                                                {{i_pizza.title}}
                                            </div>

                                            <div v-if="i_pizza.length">
                                                <h4 class='text-info text-center'>Adicionais</h4>
                                                <div class="sdw-i-1 pdg-5 mgn-b-5 rad-3" v-if="attr.qtd >= 1 || attr.status !== ''" v-for="(a, attr) in i_pizza">
                                                    <div class="dsp-middle" v-if="attr.status !== ''">
                                                        <span class="f-bold" v-if="attr.status">Com&nbsp;</span>
                                                        <span class="f-bold" v-else="attr.status">Sem&nbsp;</span>
                                                        {{attr.title }}
                                                    </div>
                                                    <div v-else>
                                                        {{ attr.qtd }}x {{ attr.title }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pdg-b-15">
                                                <div class="col-sm-6 col-xs-12 pdg-b-5" v-if="i_pizza.order_v ">
                                                    <div class="col-xs-12 bg-info pdg-15 rad-3 c-0 f-bold text-center">
                                                        Valor do Pedido: {{ i_pizza.order_v}} R$
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xs-12 pdg-b-5" v-if="i_pizza.order_t ">
                                                    <div class="col-xs-12 bg-info pdg-15 rad-3 c-0 f-bold text-center">
                                                        Tempo: {{ i_pizza.order_t}} Minutos
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button class="pdg-10 btn-danger c-1 wd-100" @click='remove(l)'>Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <link type="text/css" rel="stylesheet" href="library/bootstrap/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="library/bootstrap/css/bootstrap-theme.min.css">
        <link type="text/css" rel="stylesheet" href="library/bootstrap/css/bootstrap-select.css">

        <link type="text/css" rel="stylesheet" href="library/css/z-endless-dreams.css">
        <link type="text/css" rel="stylesheet" href="library/css/z-endless-dreams.sm-md-gt.css">
        <link type="text/css" rel="stylesheet" href="library/css/z-style.css">
        <script type="text/javascript" src="library/js/jquery.min.js"></script>
        
        <script type="text/javascript" src="library/js/vue.js"></script>

        <script type="text/javascript" src="library/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="library/bootstrap/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="library/js/jquery.mask.min.js"></script>
        <script type="text/javascript" src="library/js/script.js"></script>
    </body>
</html>