<!DOCTYPE HTML>
<html id="website">
    <head>
        <title>{{ config.title }}</title>
        <!-- Loading -->
        <!-- <link type="text/css" rel="stylesheet" href="library/css/z-loading.css"> -->
        
        <meta name="description" content="{{ config.info }}">
        <meta name="keywords" content="{{ config.key }}">
        <meta name="author" content="{{ config.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--<meta name="robots" content="noindex, nofollow" />-->
    
        <!-- Icon -->
        <link rel="apple-touch-icon" sizes="32x32" href="library/img/favicon/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="library/img/favicon/favicon.ico">
        <meta name="msapplication-TileImage" content="library/img/favicon/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="library/img/favicon/favicon.ico">

    </head>
    <body >
        <section class="container-fluid text-center pos-rel ovr-h">
            <div class='row pdg-t-60'>
                <div class="container">
                    <div class="row pos-rel">
                        <div class='col-sm-10 col-lg-6 col-xs-12 dsp-in-block flt-off'>
                            <h1 class="f-trad f-size-72 c-first">{{ config.title }}</h1>
                            <!-- <h1 class="f-trad f-size-72">{{ teste }}</h1> -->
                            <form class='col-xs-12 form-info' @submit.prevent="save()">
                                <div class='row pdg-t-30'>
                                    <!-- <div class="form-group col-sm-6 col-xs-12">
                                        <select class="form-control"  @input="pizza.size = $event.target.value" required title="size">
                                            <option v-for="(index,item) in size" value="{{item.id}}">
                                                {{ item.title }} - {{ item.value }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <select class="form-control"  @input="pizza.taste = $event.target.taste" required title="taste">
                                            <option v-for="(index,item) in taste" value="{{item.id}}">{{ item.title }}</option>
                                        </select>
                                    </div> -->
                                    <!-- <div class="form-group col-sm-6 col-xs-12" >
                                        <select class="form-control selectpicker show-tick" required name="taste" required data-live-search="true" data-size="6" title="taste">
                                            <option v-for="(index,item) in taste"  data-subtext="{{item.value}}" value="{{item.id}}">
                                                {{ item.title }}
                                            </option>
                                        </select>
                                    </div> -->
                                    <!-- <div class="form-group col-sm-6 col-xs-12">
                                        <select v-model="vl_total">
                                            <option v-for="option in size" v-bind:value="option.value">
                                                {{ option.title }}
                                            </option>
                                        </select>
                                        <span>Selected: {{ selected }}</span>
                                    </div> -->
                                    <table class="table">
                                        <thead>
                                            <tr >
                                                <th colspan="100%">
                                                    <h2 class="f-trad c-second text-center" v-html="page.msg_1"></h2>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr >
                                                <td class="align-middle text-left"><h4>Tamanho</h4></td>
                                                <td class="text-right">
                                                    <div class="dsp-in-block">
                                                        <label class="dsp-middle" v-for="(key,item) in size" >
                                                            <input class="square-25" type="radio" id="one" value="{{ key }}" v-model="pizza.size">
                                                            <span class='pdg-t-10 pdg-l-15'>
                                                                {{ item.title }}
                                                                <b v-if="item.value !== ''">- R$ {{ item.value }}</b>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-left"><h4>Sabor</h4></td>
                                                <td class="text-right align-middle">
                                                    <div class="dsp-in-block">
                                                        <label class="dsp-middle" v-for="(key,item) in taste" >
                                                            <input class="square-25" type="radio" id="two" value="{{ key }}" v-model="pizza.taste">
                                                            <span class='pdg-t-10 pdg-l-15'>
                                                                {{ item.title }}
                                                                <b v-if="item.value !== ''">- R$ {{ item.value }}</b>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                            <tr><th colspan="100%"><h2 class="f-trad  c-second text-center" v-html="page.msg_2"></h2></th></tr>
                                            <tr v-for="(index,item) in increments">
                                                <td class="align-middle text-left"><h4 class="dsp-middle">
                                                    <div v-if="item.status !== ''">
                                                        <span v-if="item.status">Com&nbsp;</span>
                                                        <span v-else>Sem&nbsp;</span>
                                                    </div>
                                                    {{ item.title }}
                                                </h4></td>
                                                <td class="text-right" v-if="item.status !== ''">
                                                    <div class="dsp-in-block">
                                                        <label class="dsp-middle" >
                                                            <input class="square-25" type="checkbox" id="checkbox" v-model="item.status">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-right" v-else>
                                                    <div class="dsp-in-block">
                                                        <div class="dsp-middle">
                                                            <input class="form-control ipt-add text-center ib-check mgn-r-15 ib-number" disabled name="atributo_{{item.id}}" type="text" value='{{ item.qtd }}' >
                                                            <button type="button" class="btn btn-success pos-rel square-40" v-on:click="count_add(item)">
                                                                <span class="glyphicon glyphicon-plus b-fly-c b-self"></span>
                                                            </button>
                                                            <button type="button" class="btn btn-danger pos-rel square-40" v-on:click="count_less(item)">
                                                                <span class="glyphicon glyphicon-minus b-fly-c b-self"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="divider bg-opc-06 col-xs-12"></div>
                                </div>
                                <div class="row pdg-t-10 pdg-b-40">
                                    <div class="row sm-text-left-f">
                                        <div class="col-sm-6 col-xs-12 c-0 f-trad f-size-42">
                                            value: {{ pizza_v }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12 c-0 f-trad f-size-42">
                                            Tempo de Preparo: {{ pizza_t }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12 pdg-t-20">
                                            <button class="btn-success rad-3 pdg-15 col-xs-12" type="submit">Enviar</button>
                                        </div>
                                        <div class="col-sm-6 col-xs-12 pdg-t-20">
                                            <button class="btn-danger rad-3 pdg-15 col-xs-12" >Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class='row pdg-t-30 text-left'>

                                <table class="table">
                                    <thead>
                                        <tr >
                                            <th colspan="100%">
                                                <h2 class="f-trad c-second text-center" v-html="page.i_prod"></h2>
                                            </th>
                                        </tr>
                                    </thead>
                                    <!-- <tbody v-for="list in increments">
                                        <tr  v-for="(j, ctg) in list" >

                                            <td class="align-middle">{{j}}</td>
                                            <td class="text-right">

                                                <div class="dsp-in-block">
                                                    <label class="dsp-middle" v-for="(i, item) in ctg">
                                                        <input class="square-25"  type="radio" id="{{j}}_grp" name="{{j}}" value="{{ item.title }}" v-model="pizza.j">
                                                        <span class='pdg-t-10 pdg-l-15'>
                                                            {{ i }} - {{ item.title }}
                                                            <b v-if="item.value !== ''">- {{ item.value }}</b>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody> -->
                                    <!-- <tbody>
                                        <tr v-for="(index,item) in increments" >
                                            <td class="align-middle">{{ item.title }}</td>
                                            <td class="text-right" v-if="item.opt !== ''">

                                                <label class="dsp-middle" v-for="opt in item.opt" >
                                                    <input class="square-25" name="atributo" value="{{ item.id }}" type="checkbox">
                                                    {{ opt }} 
                                                </label>
                                            </td>
                                            <td class="text-right" v-else>
                                                <div class="dsp-in-block">
                                                    <div class="dsp-middle">
                                                        <input class="form-control ipt-add text-center square-35 mgn-r-15" name="atributo" type="text" min="0" max="3" value='{{ item.qtd }}'>
                                                        <button type="button" class="btn btn-success" class="btn" v-on:click="item.qtd++">+</button>
                                                        <button type="button" class="btn btn-danger" v-on:click="item.qtd--">-</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody> -->
                                </table>
                                <div class="divider bg-opc-06 col-xs-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <link type="text/css" rel="stylesheet" href="library/bootstrap/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="library/bootstrap/css/bootstrap-theme.min.css">
        <link type="text/css" rel="stylesheet" href="library/bootstrap/css/bootstrap-select.css">

        <link type="text/css" rel="stylesheet" href="library/css/z-endless-dreams.css">
        <link type="text/css" rel="stylesheet" href="library/css/z-endless-dreams.sm-md-gt.css">
        <!-- <link type="text/css" rel="stylesheet" href="library/css/z-endless-dreams.mana.css"> -->
        <link type="text/css" rel="stylesheet" href="library/css/z-style.css">
        <script type="text/javascript" src="library/js/jquery.min.js"></script>
        
        <script type="text/javascript" src="library/js/vue.js"></script>

        <script type="text/javascript" src="library/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="library/bootstrap/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="library/js/jquery.mask.min.js"></script>
        <!-- <script type="text/javascript" src="library/js/jquery.fancybox.min.js"></script> -->
        <script type="text/javascript" src="library/js/script.js"></script>
    </body>
</html>