/* -------------------------------------------------------------------------- */
/* Fonts */
@font-face {
  font-family: 'Metal';
  font-style: normal;
  font-weight: 400;
  src: url('../font/metal/MetalMania-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../font/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'trad';
  font-style: normal;
  font-weight: 400;
  src: url('../font/tradizional.otf') format('opentype');
}

.f-trad{font-family: 'trad', sans-serif;}
.f-metal{font-family: 'Metal', sans-serif;}
.f-rob{font-family: 'Roboto', sans-serif;}
body{background-color: #fff;font-family: 'Roboto', sans-serif;}
section{min-height: 600px;}
b, strong{font-weight: 900;}
/* ------------------- */
.f-icon-flat-pin:before { content: "\f104"; }

[class*="f-icon-flat-"]{font-family: 'Flaticon'!important;}
.f-icon-mat{font-family: 'Material';}
.f-icon-rt-y{transform: rotateY(180deg);}
/* ------------------- */
/* Cores */
.bg-first{background-color: #ff4e00!important;}
.bg-second{background-color: #395b7c!important;}
.bg-third{background-color: #00a6ec!important;}

.bg-f4{background-color: #f4f4f4;}
.bg-e9ebec{background-color: #e9ebec}

.c-first{color: #ff4e00!important;}
.c-second{color: #395b7c!important;}
.c-third{color: #00a6ec!important;}

.act-c-first:hover{color: #ff4e00!important;}

::-webkit-scrollbar-thumb{background-color:rgba(252, 45, 29, .8);}
::-webkit-scrollbar{width: 5px;}
/* -------------------------------------------------------------------------- */
/* Grid Collumn */
[class*='ib-collumn']{grid-gap: 0px;display: grid;}
.ib-collumn-2{grid-template-columns: 1fr 1fr;}
.ib-collumn-3{grid-template-columns: 1fr 1fr 1fr;}
.ib-collumn-4{grid-template-columns: 1fr 1fr 1fr 1fr;}
.ib-collumn-5{grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}

/* -------------------------------------------------------------------------- */
/* Formulario */
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition-duration: .2s;-webkit-transition: all ease-in-out .2s;transition: all ease-in-out .2s;-moz-transition: all ease-in-out .2s;
}
btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/* Input */
/* .ipt-add{width: 50px;} */


.align-middle{vertical-align: middle!important;}
.square-35{height: 35px;width: 35px;}

/* -------------------------------------------------------------------------- */
@media all and (min-width: 1200px){}
@media all and (min-width: 992px){}
@media all and (min-width: 768px){}
@media all and (max-width: 991px){}
@media all and (max-width: 767px){}